services:
  doggo:
    build:
      context: ./DogRandomService
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "5000:8080"
    depends_on:
      postgres:
        condition: service_healthy
  
  doggo_rating:
    build:
      context: ./DogRatingService
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:17
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 3s
      timeout: 3s
      retries: 5
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres-data: